 @media (max-width: $screen-xs-max) {
       // Mobile
 //common css//
       h2{
           font-size: 20px !important;
       }
         h3{
           font-size: 18px !important;
       }
         h4{
           font-size: 16px !important;
       }
       p{
           font-size: 12px;
       }

 //common css//

 //cut-outs//

 .middle-curve-img,.cruve-right{
     display: none;
 }

 //nav//
 .navbar-default {
    margin: 0;
}

 .top-banner{
   padding-top: 60px;
 }   


 //nav//
 
 //home//

.why-choos ul li {
    width: auto;
}

.service-list ul li {
    border-right: none;
    padding: 10px 5px;
}

.service-below{
    display: none;
}
.cr-list-detail ul li {
    margin: 10px 0;
}

.home-service-desc {
    padding-left: 0; 
}
.right-content {
    @include position(absolute,50% null null 36%);
}

 //home//

//footer//

footer p{
    text-align: center;
}
footer{
    .pull-right{
        float: none!important;
    }
}

//footer//

 //about-us//

 .vision-mision-box ,.obj {
     h1{
     font-size: 35px;
     margin: 0;
     }

    p{
    font-size: 14px;
}
 }

.comma{
    display: none;
}
.vision-mision-box{
    padding: 20px;
}


 //about-us//

//course//

.main-sr-box hr {
    margin:0;  
}

.pt-box {
    padding: 10px 30px;
}

.row.point-row .col-md-4,.row.point-row .col-md-4:first-child,.row.point-row .col-md-4:last-child{
    border:none;
}
//course//

//services//
.main-box  {
    .main-box-content p{
 min-height: 130px;
    }
   
}
.service-tl-pad {
    padding: 30px 0px;
}

.sec-pad {
    padding: 0 50px;
}

//services//

 }