<section class="position-relative">
  <div class="top-banner">
    <img src="img/about-banner.jpg" alt="about us" class="img-responsive">
  </div>
  <div class="banner-title text-center">
    <h2>Moulding international careers the Japanese way</h2>
  </div>
  <div class="cruve-right">
    <img src="img/curve-right.png" alt="">
  </div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="abt-desc">
    <p>
      Being the guiding light for students world over, in helping them choose the right stream of education along with concurrent placement services in Japan; EduWork comprises a team of experts in the HR and overseas education domains that builds successful careers.
    </p>
    <p>
      <b>EduWork</b> in partnership with <b>O-HARA College Of Business</b>, Japan, empowers you with the <b>Diploma in Automobile Engineering</b> course and stands to offer many more courses in the near future.
    </p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="section-pad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pad7">
        <div class="vision-mision-box">
          <div class="text-center">
            <h1 class="color-white">
Vision</h1>
          </div>
          <p class="color-white">
            Empowering the youth to build a future of their choice and assisting them to gain financial freedomwhile achieving their goals.
          </p>
          <div class="comma1 comma">
            <img src="img/comma-up.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6 pad7">
        <div class="vision-mision-box">
          <div class="text-center">
            <h1 class="color-white">
Mission</h1>
          </div>
          <p class="color-white">
          To build an organization which understands today’s youth and their aspirations, empowering them to make the right career choices in Japan as we strengthen our organization, based on ethics, values, honesty and integrity.
          </p>
          <div class="comma2 comma">
            <img src="img/comma-down.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center obj">
          <h1 class="color-red">Objective</h1>

        <p>Our motto is to be recognized as an organization of ethics, values and the one and only choice when it comes to looking for educational opportunities in Japan. We are the career choice for undergraduates and working professionals from skilled and non-skilled backgrounds.</p>
          </div>
      </div>
    </div>
  </div>
</section>
