<section class="position-relative">
  <div class="top-banner">
    <img src="img/contact.jpg" alt="about us" class="img-responsive">
  </div>
  <div class="banner-title text-center">
    <h2>Contact us</h2>
  </div>
  <div class="cruve-right">
    <img src="img/curve-right.png" alt="">
  </div>
</section>
<section class="contact-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-add">
                    <h4 class="color-red font-bold margin0">EDUWORK INTERNATIONAL SERVICES PVT LTD.</h4>
                    <p>
                        Office No. 6, Ground Floor, Simran Plaza,
                        <br> Corner of 3rd & 4th Road, Khar (West),
                        <br> Mumbai - 400 052, India.
                    </p>
                    <p>
                        <a href="tel:+912240733100">Tel: +91 22 4073 3100</a>
                    </p>
                    <p>
                        <a href="#">www.eduworkjapan.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                  <h2 class="color-red margin0">Enquire Now</h2>
                    <form action="" name="formname" ng-submit="submitForm(formData);" ng-if="!formSubmitted" class="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name" name="fname" ng-model="formData.name" aplha-only>
                                    <div class="error" ng-if="formData.name.$invalid && formData.name.$touched"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Parent/Guardian Name" ng-model="formData.gname" name="gname" aplha-only>
                                    <div class="error" ng-if="formData.name.$invalid && formData.name.$touched"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mobile Name" name="mobile" ng-model="formData.mobile" required numbers-only>
                                    <div class="error" ng-if="formData.name.$invalid && formData.name.$touched"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email Address" name="email" ng-model="formData.email" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
                                    <div class="error" ng-if="formData.name.$invalid && formData.name.$touched"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Age" name="age" ng-model="formData.age" required numbers-only>
                                    <div class="error" ng-if="formData.name.$invalid && formData.name.$touched"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Educational Qualifications"  name="eq" ng-model="formData.eq" required>
                                    <div class="error" ng-if="formData.name.$invalid && formData.name.$touched"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn btn-primary-outline" ng-disabled="formName.$invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
