<section class="position-relative">
  <div class="top-banner">
    <img src="img/course.jpg" alt="about us" class="img-responsive">
  </div>
  <div class="banner-title text-center">
    <h2>Our unique offering that’ll transform your career </h2>
  </div>
  <div class="cruve-right">
    <img src="img/curve-right.png" alt="">
  </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="text-center abt-desc">
              <p>
                  The course of Automobile Mechanic is what EduWork offers to students as of now. EduWork aims to offer many more courses in
                  the future.
              </p>
                <hr>
              <h2 class="color-red">Diploma in Automobile Engineering</h2>
              <b>Car professionals with advanced knowledge and skills</b>
              <p class="desc-cr">
                  EduWork in partnership with O-HARA College of Business offers you a curriculum that produces the industry's highest grade
                  automobile mechanics, boasting a pass rate of 100% for second grade automobile mechanic. Every year,
                  O-HARA has a high employment record, and two in three of their graduates are active as mechanics
                  for major car dealers. O-Hara trains professionals of automobiles that are also excellent in business
                  skills and advanced diagnostic abilities.
              </p>
            </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="dt-course mt40">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="">
                        <h2 class="color-red margin0">Detailed Course</h2>
                    </div>
                    <div class="mt20 detail-view">
                        <h4 class="font-bold margin0">Second-class Certified Automobile Mechanic</h4>
                        <p>3 year course in which 1 st year comprises of Japanese language training</p>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<section class="section-pad">
  <div class="container-fluid">
    <div class="row point-row">
        <div class="col-md-4">
            <div class="pt-box">
                <h4 class="color-red font-bold">Point 1</h4>
                <p>
                    Hands-on training is given to students on a constant basis, so that they can focus on it.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pt-box">
                <h4 class="color-red font-bold">Point 2</h4>
                <p>
                    First-year students focus on hands on practice to develop necessary basic skills.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pt-box">
                <h4 class="color-red font-bold">Point 3</h4>
                <p>
                    Second-year students have more in-class lectures for national examinations after graduation.
                </p>
            </div>
        </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt70">
<h2 class="text-center color-red">Weekly schedule</h2>
                <div class="wk-sch">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th></th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>1st Year</td>
                                    <td>Hands on training</td>
                                    <td>Hands on training</td>
                                    <td>Hands on training</td>

                                    <td>In-class lecture</td>
                                    <td>In-class lecture</td>
                                </tr>
                                <tr>

                                    <td>2nd Year</td>
                                      <td>In-class lecture</td>
                                      <td>In-class lecture</td>
                                      <td>In-class lecture</td>
                                    <td>Hands on training</td>
                                    <td>Hands on training</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
      </div>
    </div>
  </div>
</section>
<section class="section-pad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mt70">
          <h2 class="color-red ">Yearly schedule</h2>
          <img src="img/schedule.jpg" alt="" class="img-responsive w100">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt40">
        <div class="edu-training cr-list-detail">
          <h3 class="font-bold">Education and training to be provided /qualifications to be obtained :</h3>

          <ul class="padding0">
            <li>
              Qualification for Second-class Certified Gasoline-fueled Automobile Mechanic
            </li>
            <li>
            Qualification for Second-class Certified Diesel Engine Automobile Mechanic
            </li>
            <li>
          Qualification for Second-class Certified Motorcycle Mechanic
            </li>
            <li>
        Special Education regarding Low-voltage Electrical System Handling
            </li>
            <li>
      Gas Welding Skill Training
            </li>
            <li>
      Special Education in Arc Welding
            </li>
            <li>
    Qualification for Used Car Assessor
            </li>
            <li>
Hazardous Materials Engineer’s License (Class B, Group 4 [Flammable liquids, gasoline,
alcohols, kerosene, light oil, heavy oil, animal fats and vegetable oils])
            </li>
            <li>
Training to Develop Forklift Truck Driving Technique
            </li>
            <li>
Slinging Operation Training
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center sr-title banner-title">
          <h2 class="font-bold">In what kinds of fields will you be active in the future…</h2>
        </div>
      </div>
<div class="col-md-12">
  <div class="serv-sec">
    <div class="text-center">
      <h3 class="font-bold">Service Engineer</h3>
      <hr>
    </div>
  </div>
</div>

    </div>
    <div class="row">
      <div class="service-box">
      <div class="col-md-3">
        <div class="services-inner">
          <h4 class="font-bold ">Car Dealership Mechanic</h4>
          <p class="font-light">The work of a car dealership mechanic is automobile maintenance and repair at auto dealers, stable companies in various communities which make sales contracts with specific car manufacturers.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services-inner">
          <h4 class="font-bold ">Heavy Machinery & Construction
Equipment Mechanic</h4>
          <p class="font-light">The work of this mechanic is the maintenance of heavy duty trucks, buses, and construction equipment such as cranes and forklifts. Unlike the case of car dealership mechanics, these mechanics’ customers are companies; so most of them have Saturdays and Sundays off.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services-inner">
          <h4 class="font-bold ">Automotive Parts Dealer
Mechanic</h4>
          <p class="font-light">This type of mechanic specializes in giving cars custom dress-ups tailored for various customers, changing tires and oil, and installing car navigation systems and audio equipment as well as car inspection and vehicle maintenance checkups at dealers of automotive parts and auto accessories.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services-inner">
          <h4 class="font-bold ">Motorcycle Dealer Mechanic</h4>
          <p class="font-light">A motorcycle dealer mechanic specializes in motorcycle maintenance and repair at motorcycle dealers to perform motorcycle maintenance checkups and inspection, and install motorbike parts in response to various customer requests.</p>
        </div>
      </div>

      </div>
    </div>
    <div class="row serv-sec">
<div class="col-md-6">
  <div class="main-sr-box">
    <h3 class="font-bold">Crew at Customer Service Desk, <br>
Plant Manager, and Salesperson
</h3>
<hr>
<div class="services-inner">
  <h4 class="font-bold ">Big step-up in your career by giving full play to your abilities
</h4>
  <p class="font-light">As you gain experience as a mechanic at auto dealers, you can be promoted to a staff member dedicated to customer service and even to a plant manager if your skills and hard work are recognized. And you may be assigned to sales if your sales technique is appreciated. Most of auto dealers employ university graduates as salespersons; however,
technical school graduates employed as mechanics can also aim to become salespersons. A staff member with great abilities may be promoted even to a store manager.</p>
</div>
  </div>
</div>
<div class="col-md-6">
  <div class="main-sr-box">
    <h3 class="font-bold">Car Manufacturer, <br>
Auto Parts Supplier

</h3>
<hr>
<div class="services-inner">
  <h4 class="font-bold ">Most of car makers are concentrated in the northern part of Kyushu

</h4>
  <p class="font-light">These companies manufacture automobiles and auto parts, and consist of factory product line workers at the production department and the staff at the automotive development
department. The production departments of Toyota Motor Kyushu, Inc., Nissan Motor Kyushu, Co., Ltd., and Daihatsu Motor Kyushu Co., Ltd. (Oita (Nakatsu) Plant and Kurume Plant) are in the northern part of Kyushu, while most of the development departments are concentrated in the Kanto, Chubu, and Kansai Regions.</p>
</div>
  </div>
</div>

    </div>
  </div>
</section>
<section class="bg-red mt20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="benefit">
          <h3 class="color-white font-bold">Benefits of the synergy of EduWork and O-HARA College of Business</h3>
          <ul class="padding0">
            <li>
              Benefits of the synergy of EduWork and O-HARA College of Business
            </li>
            <li>
              Select students with excellent academic records will get further scholarship.
            </li>
            <li>
              100% scholarship to a select few students, solely at the discretion of EduWork and O-HARA College of Business.
            </li>
            <li>
            O-HARA College of Business will assist the students in finding part-time jobs during their course of study.
            </li>
            <li>
          O-HARA College of Business will also assist students in acquiring fulltime job opportunities in Japan, post studies.
            </li>
            <li>
        EduWork will assist students in latching on to attractive career opportunities in India &amp; overseas.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
