<div class="container-fluid text-center eddy-modal">
    <h2 class="text-uppercase bold">Drive for October 2017 admissions -<br> 3 year programme (Very Limited seats)</h2>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-uppercase bold"> Siliguri </h4>
            <p> Hotel, Mallaguri, P.O. Pradhan Nagar, Siliguri - 734003, West Bengal. </p>
            <p class="bold">23rd April 2017<br> 11am - 2pm</p>
        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase bold">Darjeeling</h4>
            <p> Pine Tree Spa Resort, Adjacent to Darjeeling Gymkhana Club, Darjeeling - 734101, West Bengal.</p>
            <p class="bold">26rd April 2017<br> 11am - 2pm</p>
        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase bold">Gangtok
            </h4>
            <p> Summit Denzong Renaissance Hotel & Spa, Near MG Marg, Kazi Road, Gangtok - 737101, Sikkim.
            </p>
            <p class="bold">29th & 30th April 2017<br> 11am - 2pm</p>
        </div>
    </div>
    <div class="cross">
        <i class="fa fa-times" aria-hidden="true" ng-click="$dismiss()"></i>
    </div>
</div>