
/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fe3f46 !default;
$brand-info: #000072 !default;
$base: #1c1c1c !default;
$white: #fff !default;
$font-family-sans-serif: "Assistant",
Helvetica,
Arial,
sans-serif !default;
$font-family-serif: "Hammersmith One",
Georgia,
"Times New Roman",
Times,
serif !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
  padding-top: 0;
  font-family: $font-family-sans-serif;
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}

img {
  opacity: 0;
  transition: all 300ms ease;
}

img.doneLoading {
  opacity: 1;
}

nav li:hover .dropdown-menu {
  display: block;
}

#map img {
  opacity: 1;
}

a,
.btn,
[ui-sref] {
  cursor: pointer;
  transition: all ease 300ms;
}

footer {
  font-size: 12px;
  background-color: #191919;
  padding: 10px 0;
  color: #fff;
  p {
    margin: 8px 0px 0 0;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  box-shadow: none;
}

.form-group {
  position: relative;
}

.form-invalid {
  color: $brand-danger;
  .form-control {
    border-color: $brand-danger;
    color: $brand-danger;
    &::-webkit-input-placeholder {
      color: $brand-danger;
    }
  }
}

.form-submission {
  min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
  a {
    height: auto;
  }
  .flex-prev {
    left: 10px !important;
  }
  .flex-next {
    right: 10px !important;
  }
}

.content {
  min-height: 450px;
}

.img-full {
  width: 100%;
  display: block;
}

header {
  transition: all 300ms ease;
}

.nav-up {
  transform: translateY(-100%);
}

// mahesh css/
// comman classes
.text-upper {
  text-transform: uppercase;
}

.text-cap {
  text-transform: capitalize;
}

.margin0 {
  margin: 0;
}

.padding0 {
  padding: 0;
}

.ul-li-list {
  display: block;
  li {
    display: inline-block;
  }
}

.color-base {
  color: $base;
}

.color-red {
  color: $brand-danger;
}

.color-white {
  color: $white;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 600;
}

.w100 {
  width: 100%;
}

.btn-primary-outline {
  @include button-variant($brand-danger, transparent, $brand-danger);
  @include transition(all 300ms ease);
  &:hover {
    @include button-variant($white, $brand-danger, $brand-danger);
    // border: 2px solid $brand-primary;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  padding: 4px 20px;
}

.btn-primary-outline-white {
  @include button-variant($white, transparent, $white);
  @include transition(all 300ms ease);
  &:hover {
    @include button-variant($brand-danger, $white, $white);
    // border: 2px solid $brand-primary;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  padding: 4px 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.position-relative {
  position: relative;
}

// scss start
// header
.navbar-brand {
  padding: 0;
}

.navbar-default {
  background-color: #fbfcfc;
  border-color: #fbfcfc;
  margin: 30px;
  padding: 5px;
  .navbar-nav {
    a {
      @include transition(all 300ms ease);
    }
  }
}

.logo {
  padding: 0px 0px 0px 15px;
  img {
    width: 180px;
  }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #f10000;
  background-color: rgba(231, 231, 231, 0);
  @include transition(all 300ms ease);
}

// homeslider
homeslider {
  .flexslider {
    margin: 0 0 0px;
    border: 0px solid #fff;
    border-radius: 0;
    .flex-direction-nav {
      display: none;
    }
    .flex-control-nav {
      bottom: 10px;
      z-index: 99;
      .flex-control-paging li a.flex-active {
        background: #fff;
      }
    }
    .flex-control-paging li {
      a {
        background: #fff;
        &:hover {
          background: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

.bg-cl {
  background-color: #f2f2f3;
}

.right-offer {
  position: relative;
}

.right-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-desc {
  margin-top: 10px;
}

//why choose
.why-choos {
  margin-bottom: 30px;
  margin-top: 15px;
  ul {
    li {
      position: relative;
      padding: 14px 45px;
      text-align: left;
      width: 26%;
      line-height: 127%;
      &:before {
        content: " ";
        background-image: url('../img/li-before.png');
        height: 15px;
        width: 15px;
        position: absolute;
        left: 24px;
        top: 21px;
        z-index: 999;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.bg-red {
  background: $brand-danger;
  padding: 20px 0px 30px 0px;
}

.home-service {
  margin-top: 60px;
  text-align: center;
}

.home-service-desc {
  text-align: left;
  padding-left: 85px;
}

.service-list {
  ul {
    text-align: center;
    padding: 0;
    li {
      border-right: 1px solid #e5dfdf;
      padding: 0px 90px 0 90px;
      &:last-child {
        border: none;
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .main-ser-box {
    text-align: center;
    .ser-box-name {
      span {
        font-weight: 600;
        display: block;
        width: 145px;
        text-align: center;
        line-height: 120%;
        margin-top: 3px;
        hr {
          margin-top: 5px;
          margin-bottom: 5px;
          border: 0;
          border-top: 2px solid #eeeeee;
          width: 28px;
        }
      }
    }
  }
  .img-icon {
    height: 40px;
    overflow: hidden;
    width: auto;
    img {
      max-height: 100%;
    }
  }
}

.mt40 {
  margin-top: 40px;
}

.service-below {
  position: absolute;
  right: 0;
  bottom: 0;
  img {
    width: 180px;
  }
}

.extra-pad {
  padding: 55px 0px 80px 0;
}

.middle-curve-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pad-mid-box {
  padding-bottom: 66px;
  padding-top: 30px;
}

//home last sectione
.bg-pic {
  background: url('../img/below-bg.jpg');
  padding: 40px 0px 40px 0px;
}

.cr-list-detail {
  ul {
    -webkit-column-count: 2;
    list-style: none;
    li {
      font-size: 15px;
      line-height: 120%;
      &:before {
        content: "• ";
        color: $brand-danger;
        font-size: 24px;
        padding-right: 8px;
        vertical-align: middle;
      }
    }
  }
}

.cr-ft-text {
  font-size: 17px;
  margin-top: 26px;
}

.cf-ft-img {
  padding: 0px 2px;
}

.social-footer {
  ul {
    display: inline;
  }
  li {
    padding: 0 3px;
    a {
      i {
        background: #424242;
        /* padding: 5px; */
        border-radius: 50%;
        font-size: 18px;
        height: 30px;
        color: #191919;
        width: 30px;
        text-align: center;
        line-height: 178%;
        vertical-align: middle;
      }
    }
  }
}

.banner-title {
  margin-top: -22px;
  h2 {
    display: inline-block;
    background: $brand-danger;
    border-radius: 5px;
    padding: 7px 25px;
    color: #fff;
    margin: 0;
  }
}

.cruve-right {
  position: absolute;
  right: 0;
  top: 50%;
}

.abt-desc {
  padding: 40px 0px;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 2px solid #fe3f46;
    width: 120px;
  }
}

.img-main-title {
  text-align: center;
  margin-top: -60px;
  position: relative;
  z-index: 99;
}

.abt-know-more {
  padding-top: 70px;
}

.left-side-img {
  padding-top: 25px;
  img {
    width: 200px;
  }
}

.service-tl-pad {
  padding: 30px 0px 80px 0;
}

.main-box {
  text-align: center;
  padding: 25px 0px 20px 0px;
  img {
    text-align: center;
    margin: 0 auto;
    height: 45px;
  }
  .main-box-content {
    h4 {
      font-weight: 600;
    }
    p {
      text-align: left;
      min-height: 160px;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 5px;
      border: 0;
      border-top: 2px solid #eeeeee;
      width: 28px;
    }
  }
}

.border-box {
  border: 1px solid #dcdcdc;
}

.sec-pad {
  padding: 0 70px;
}

.left-side-person {
  text-align: right;
  img {
    text-align: right;
    display: inline-block;
    margin-top: -46px;
    position: relative;
    z-index: 9;
    width: 160px;
    margin-right: 30px;
  }
}

//about us
.vision-mision-box {
  background: #fe3f46;
  text-align: center;
  position: relative;
  padding: 36px 50px 42px 82px;
  h1 {
    margin: 0;
    font-size: 45px;
  }
  p {
    font-size: 18px;
    text-align: left;
    min-height: 100px;
    font-weight: 300;
    margin-top: 10px;
  }
}

.pad7 {
  padding: 7px;
}

.section-pad {
  padding: 0px 30px;
}

.comma1 {
  position: absolute;
  top: -34px;
  left: 21px;
}

.comma2 {
  position: absolute;
  bottom: -34px;
  right: 21px;
}

.comma img {
  width: 100px;
}

.obj {
  padding: 20px 0px 35px 0;
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
  }
}

.work-japan {
  .flexslider {
    margin: 0 0 0px;
    background: #fff;
    border: 0px solid #fff;
    .flex-direction-nav {
      display: none;
    }
    .flex-control-nav {
      display: none;
    }
  }
}

//contact-add
.contact-form {
  h2 {
    margin-bottom: 10px;
  }
}

.contact-add {
  p {
    a {
      color: $base;
      text-decoration: none;
      &:hover {
        color: $base;
        text-decoration: none;
      }
    }
  }
}

.contact-sec {
  padding: 65px 0 65px 0;
}

// course
.desc-cr {
  p {
    text-align: left;
    margin-top: 15px;
  }
}

.detail-view {
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
}

.row.point-row {
  .col-md-4 {
    border: 1px solid #c1c1c1;
    &:first-child {
      border-right: 0px solid;
    }
    &:last-child {
      border-left: 0px solid;
    }
  }
}

.pt-box {
  text-align: center;
  padding: 30px;
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    text-align: left;
  }
}

.wk-sch {
  .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    background: $brand-danger;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    border-right: 1px solid #ddd;
    &:first-child {
      background: transparent;
    }
  }
  .table>tbody>tr>td {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid #ddd;
    &:first-child {
      background: $brand-danger;
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      border-bottom: 1px solid $brand-danger;
    }
  }
}

.mt70 {
  margin-top: 70px;
}

.edu-training {
  ul {
    li {
      text-indent: -21px;
      padding-left: 22px;
      line-height: 180%;
      font-size: 14px;
    }
  }
}

.sr-title {
  margin-top: 60px;
}

.serv-sec {
  margin-top: 60px;
  hr {
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #fe3f46;
    width: 216px;
  }
}

.services-inner {
  h4 {
    text-indent: -16px;
    padding-left: 16px;
    &:before {
      content: "• ";
      color: red;
      font-size: 24px;
      padding-right: 4px;
      vertical-align: baseline;
    }
  }
  p {
    padding-left: 17px;
  }
}

.main-sr-box {
  h3 {
    padding-left: 17px;
  }
  hr {
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #fe3f46;
    width: 100%;
    margin-left: 17PX;
    margin-right: 20px;
  }
}

.benefit {
  ul {
    padding-left: 17px;
    li {
      color: #fff;
      font-weight: 300;
      line-height: 180%;
    }
  }
}

.error {
  color: #fe3f46;
}

//scss for modal
.modal {
  text-align: center;
  padding: 0px;
  height: 100%;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-top: 150px;
}

.eddy-modal {
  position: relative;
  margin: 50px 15px;
  .cross {
    position: absolute;
    top: -40px;
    right: 5px;
    font-size: 20px;
    color: #fe3f46;
    cursor: pointer;
  }
  h2 {
    color: black;
    border-bottom: 2px solid #f7f5f6;
    margin-top: 0px;
  }
  h4 {
    color: #fe3f46;
    margin-bottom: 0px;
  }
  p {
    color: black;
    margin: 0;
    padding: 0 20px;
  }
}

.bold {
  font-weight: 600;
}

.modal-content {
  background: url("../img/services/1.png");
  background-position: center center;
  background-size: cover;
}